{:highlights [{:id #uuid "642c4745-212e-480f-9680-4f18a39b1762",
               :page 1,
               :position {:bounding {:x1 0,
                                     :y1 61.372310638427734,
                                     :x2 868.9480590820312,
                                     :y2 411.325927734375,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 0,
                                   :y1 61.372310638427734,
                                   :x2 0,
                                   :y2 81.09031677246094,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}
                                  {:x1 146.46783447265625,
                                   :y1 358.9704895019531,
                                   :x2 868.9480590820312,
                                   :y2 381.31756591796875,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}
                                  {:x1 146.46783447265625,
                                   :y1 388.9788513183594,
                                   :x2 833.8253784179688,
                                   :y2 411.325927734375,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 1},
               :content {:text "The Mina - ETH bridge uses a STARK to prove the verification of a SNARK proof, what could be the rational behind mixing these 2 types of proving systems ?"},
               :properties {:color "red"}}],
 :extra {:page 1}}
