{:highlights [{:id #uuid "640f628d-2a74-4101-823a-a2380a67ecd2",
               :page 12,
               :position {:bounding {:x1 0,
                                     :y1 78,
                                     :x2 473.7291666865349,
                                     :y2 234.14584350585938,
                                     :width 532,
                                     :height 751.9677437116944},
                          :rects ({:x1 0,
                                   :y1 78,
                                   :x2 0,
                                   :y2 97.33334350585938,
                                   :width 532,
                                   :height 751.9677437116944}
                                  {:x1 0,
                                   :y1 94,
                                   :x2 0,
                                   :y2 113.33334350585938,
                                   :width 532,
                                   :height 751.9677437116944}
                                  {:x1 0,
                                   :y1 110,
                                   :x2 0,
                                   :y2 129.33334350585938,
                                   :width 532,
                                   :height 751.9677437116944}
                                  {:x1 63.125002562999725,
                                   :y1 173.85415649414062,
                                   :x2 464.37806195020676,
                                   :y2 185.85415649414062,
                                   :width 532,
                                   :height 751.9677437116944}
                                  {:x1 63.125002562999725,
                                   :y1 189.94790649414062,
                                   :x2 449.27085369825363,
                                   :y2 201.94790649414062,
                                   :width 532,
                                   :height 751.9677437116944}
                                  {:x1 63.125002562999725,
                                   :y1 206.04165649414062,
                                   :x2 473.7291666865349,
                                   :y2 218.04165649414062,
                                   :width 532,
                                   :height 751.9677437116944}
                                  {:x1 63.125002562999725,
                                   :y1 222.14584350585938,
                                   :x2 118.91724652051926,
                                   :y2 234.14584350585938,
                                   :width 532,
                                   :height 751.9677437116944}),
                          :page 12},
               :content {:text "\"There are many things that are fascinating about polynomials. But here we are going to zoom in on a particular one: polynomials are a single mathematical object that can contain an unbounded amount of information (think of them as a list of integers and this is obvious).\""},
               :properties {:color "yellow"}}
              {:id #uuid "640f62b4-b4d4-4f66-83cb-151e77d6b1a2",
               :page 12,
               :position {:bounding {:x1 0,
                                     :y1 142,
                                     :x2 453.0201823115349,
                                     :y2 266.3333435058594,
                                     :width 532,
                                     :height 751.9677437116944},
                          :rects ({:x1 0,
                                   :y1 142,
                                   :x2 0,
                                   :y2 161.33334350585938,
                                   :width 532,
                                   :height 751.9677437116944}
                                  {:x1 63.125002562999725,
                                   :y1 238.23959350585938,
                                   :x2 453.0201823115349,
                                   :y2 250.23959350585938,
                                   :width 532,
                                   :height 751.9677437116944}
                                  {:x1 63.125002562999725,
                                   :y1 254.33334350585938,
                                   :x2 255.19791668653488,
                                   :y2 266.3333435058594,
                                   :width 532,
                                   :height 751.9677437116944}),
                          :page 12},
               :content {:text "Furthermore, a single equation between polynomials can represent an unbounded number of equations between numbers."},
               :properties {:color "red"}}],
 :extra {:page 1}}
