{:highlights [{:id #uuid "642da2a8-f530-4223-b0a0-b5aaceb54da1",
               :page 12,
               :position {:bounding {:x1 117.89726829528809,
                                     :y1 103.23196411132812,
                                     :x2 243.3387050628662,
                                     :y2 137.40988159179688,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 117.89726829528809,
                                   :y1 103.23196411132812,
                                   :x2 243.3387050628662,
                                   :y2 137.40988159179688,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 12},
               :content {:text "Risc Zero"},
               :properties {:color "red"}}],
 :extra {:page 12}}
