{:highlights [{:id #uuid "642c44f4-ce62-404a-9467-47f4e68044d2",
               :page 2,
               :position {:bounding {:x1 83.33598758280277,
                                     :y1 73.07989501953125,
                                     :x2 224.79560519754887,
                                     :y2 96.74148559570312,
                                     :width 701,
                                     :height 991.97583981954},
                          :rects ({:x1 83.33598758280277,
                                   :y1 73.07989501953125,
                                   :x2 224.79560519754887,
                                   :y2 96.74148559570312,
                                   :width 701,
                                   :height 991.97583981954}),
                          :page 2},
               :content {:text "Lurk Language"},
               :properties {:color "green"}}
              {:id #uuid "642c492b-dbca-4606-89bd-f1752825a61e",
               :page 4,
               :position {:bounding {:x1 117.58918762207031,
                                     :y1 67.2672119140625,
                                     :x2 345.90733337402344,
                                     :y2 92.2432861328125,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 117.58918762207031,
                                   :y1 67.2672119140625,
                                   :x2 345.90733337402344,
                                   :y2 92.2432861328125,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 4},
               :content {:text "Shamir Secret Sharing"},
               :properties {:color "green"}}
              {:id #uuid "642c494b-2158-40c9-9046-9b74225f6ec2",
               :page 6,
               :position {:bounding {:x1 117.89726257324219,
                                     :y1 103.2320556640625,
                                     :x2 439.66954040527344,
                                     :y2 137.409912109375,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 117.89726257324219,
                                   :y1 103.2320556640625,
                                   :x2 439.66954040527344,
                                   :y2 137.409912109375,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 6},
               :content {:text "Multi party computation"},
               :properties {:color "green"}}
              {:id #uuid "642c4b49-9213-485a-b799-c9e33646bf8d",
               :page 3,
               :position {:bounding {:x1 117.89726257324219,
                                     :y1 103.23199462890625,
                                     :x2 315.46763610839844,
                                     :y2 137.40985107421875,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 117.89726257324219,
                                   :y1 103.23199462890625,
                                   :x2 315.46763610839844,
                                   :y2 137.40985107421875,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 3},
               :content {:text "Secret Sharing"},
               :properties {:color "green"}}
              {:id #uuid "642c4f1f-c768-45a8-a88d-c53aa32fcacc",
               :page 9,
               :position {:bounding {:x1 117.60972595214844,
                                     :y1 121.51222229003906,
                                     :x2 304.1897430419922,
                                     :y2 150.43199157714844,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 117.60972595214844,
                                   :y1 121.51222229003906,
                                   :x2 304.1897430419922,
                                   :y2 150.43199157714844,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 9},
               :content {:text "Sigma Protocols"},
               :properties {:color "green"}}
              {:id #uuid "642c50a9-d999-4f00-b106-755ab52fda08",
               :page 9,
               :position {:bounding {:x1 117.65080261230469,
                                     :y1 953.9820251464844,
                                     :x2 852.9221038818359,
                                     :y2 976.3291015625,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 117.65080261230469,
                                   :y1 953.9820251464844,
                                   :x2 852.9221038818359,
                                   :y2 976.3291015625,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 9},
               :content {:text "The process can be made non interactive with the Fiat Shamir heuristic as follows"},
               :properties {:color "red"}}
              {:id #uuid "642c50dd-6a8a-4786-9b2a-7116aff07ef7",
               :page 10,
               :position {:bounding {:x1 117.58918762207031,
                                     :y1 121.019287109375,
                                     :x2 324.08583068847656,
                                     :y2 145.9954833984375,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 117.58918762207031,
                                   :y1 121.019287109375,
                                   :x2 324.08583068847656,
                                   :y2 145.9954833984375,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 10},
               :content {:text "Proxy Re encryption"},
               :properties {:color "green"}}
              {:id #uuid "642c5238-6f2d-45f4-8a13-ee1b104ff674",
               :page 11,
               :position {:bounding {:x1 117.60972595214844,
                                     :y1 121.51223754882812,
                                     :x2 403.7307586669922,
                                     :y2 150.43197631835938,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 117.60972595214844,
                                   :y1 121.51223754882812,
                                   :x2 403.7307586669922,
                                   :y2 150.43197631835938,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 11},
               :content {:text "Confidential transactions"},
               :properties {:color "green"}}
              {:id #uuid "642c539f-807a-44fe-bb35-353b9cba4837",
               :page 11,
               :position {:bounding {:x1 0,
                                     :y1 269.37677001953125,
                                     :x2 888.1115570068359,
                                     :y2 965.0733947753906,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 0,
                                   :y1 269.37677001953125,
                                   :x2 0,
                                   :y2 289.09478759765625,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}
                                  {:x1 0,
                                   :y1 285.37713623046875,
                                   :x2 0,
                                   :y2 305.0951385498047,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}
                                  {:x1 0,
                                   :y1 301.3774719238281,
                                   :x2 0,
                                   :y2 321.09547424316406,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}
                                  {:x1 117.65080261230469,
                                   :y1 852.7218017578125,
                                   :x2 816.9623870849609,
                                   :y2 875.0688781738281,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}
                                  {:x1 117.65080261230469,
                                   :y1 882.7301635742188,
                                   :x2 868.6811370849609,
                                   :y2 905.0772399902344,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}
                                  {:x1 117.65080261230469,
                                   :y1 912.7179565429688,
                                   :x2 888.1115570068359,
                                   :y2 935.0650329589844,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}
                                  {:x1 117.65080261230469,
                                   :y1 942.726318359375,
                                   :x2 171.9181671142578,
                                   :y2 965.0733947753906,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 11},
               :content {:text "A Pedersen commitment works like the above but with an additional property: commitments can be added, and the sum of a set of commitments is the same as a commitment to the sum of the data (with a blinding key set as the sum of the blinding keys):"},
               :properties {:color "purple"}}
              {:id #uuid "642c53c8-1bca-4d1f-97ec-f9feca001898",
               :page 13,
               :position {:bounding {:x1 117.89726257324219,
                                     :y1 103.23200988769531,
                                     :x2 328.4890899658203,
                                     :y2 137.40989685058594,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 117.89726257324219,
                                   :y1 103.23200988769531,
                                   :x2 328.4890899658203,
                                   :y2 137.40989685058594,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 13},
               :content {:text "Voting Systems"},
               :properties {:color "green"}}],
 :extra {:page 17}}
