{:highlights [{:id #uuid "642ee947-481a-46de-86c0-6632cf8c7d14",
               :page 11,
               :position {:bounding {:x1 117.58917808532715,
                                     :y1 168.52740478515625,
                                     :x2 411.3351650238037,
                                     :y2 193.5035400390625,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 117.58917808532715,
                                   :y1 168.52740478515625,
                                   :x2 411.3351650238037,
                                   :y2 193.5035400390625,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 11},
               :content {:text "Using ZKPs to verify exploits"},
               :properties {:color "red"}}
              {:id #uuid "642eeffa-3128-458b-9e5d-f65811191a22",
               :page 6,
               :position {:bounding {:x1 117.89726829528809,
                                     :y1 103.23199462890625,
                                     :x2 276.8737392425537,
                                     :y2 137.40988159179688,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 117.89726829528809,
                                   :y1 103.23199462890625,
                                   :x2 276.8737392425537,
                                   :y2 137.40988159179688,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 6},
               :content {:text "Verkle trees"},
               :properties {:color "green"}}],
 :extra {:page 6}}
