{:highlights [{:id #uuid "6425b851-d3a7-44a3-8e87-d5df5aee2150",
               :page 12,
               :position {:bounding {:x1 117.58917236328125,
                                     :y1 48.535064697265625,
                                     :x2 367.5560607910156,
                                     :y2 73.51119995117188,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 117.58917236328125,
                                   :y1 48.535064697265625,
                                   :x2 367.5560607910156,
                                   :y2 73.51119995117188,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 12},
               :content {:text "Schwartz-Zippel Lemma"},
               :properties {:color "red"}}
              {:id #uuid "6425b85d-e988-485f-b6cb-b4d4d12f6623",
               :page 12,
               :position {:bounding {:x1 117.58917236328125,
                                     :y1 827.2732696533203,
                                     :x2 351.1570129394531,
                                     :y2 852.2494049072266,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 117.58917236328125,
                                   :y1 827.2732696533203,
                                   :x2 351.1570129394531,
                                   :y2 852.2494049072266,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 12},
               :content {:text "Lagrange Interpolation"},
               :properties {:color "green"}}
              {:id #uuid "6425b8a8-c78d-486f-ba59-d81961754ed2",
               :page 14,
               :position {:bounding {:x1 117.60971069335938,
                                     :y1 121.51224136352539,
                                     :x2 411.0377502441406,
                                     :y2 150.4319953918457,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 117.60971069335938,
                                   :y1 121.51224136352539,
                                   :x2 411.0377502441406,
                                   :y2 150.4319953918457,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 14},
               :content {:text "Polynomial Commitments"},
               :properties {:color "blue"}}],
 :extra {:page 11}}
