{:highlights [{:id #uuid "642af7fd-b9f2-48fa-81f1-c5bdecc759e0",
               :page 4,
               :position {:bounding {:x1 117.89726257324219,
                                     :y1 103.23199462890625,
                                     :x2 436.6876678466797,
                                     :y2 137.40988159179688,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 117.89726257324219,
                                   :y1 103.23199462890625,
                                   :x2 436.6876678466797,
                                   :y2 137.40988159179688,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 4},
               :content {:text "Computational Integrity"},
               :properties {:color "blue"}}
              {:id #uuid "642afa9d-4c79-442c-8d95-e0829afb25d9",
               :page 5,
               :position {:bounding {:x1 117.89726257324219,
                                     :y1 103.23199462890625,
                                     :x2 731.7131195068359,
                                     :y2 137.409912109375,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 117.89726257324219,
                                   :y1 103.23199462890625,
                                   :x2 731.7131195068359,
                                   :y2 137.409912109375,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 5},
               :content {:text "Non Determinism and under constrained code"},
               :properties {:color "purple"}}
              {:id #uuid "642afba9-89f5-43db-9938-a0324a69b42a",
               :page 6,
               :position {:bounding {:x1 117.65080261230469,
                                     :y1 71.47775268554688,
                                     :x2 892.4454193115234,
                                     :y2 93.82485961914062,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 117.65080261230469,
                                   :y1 71.47775268554688,
                                   :x2 892.4454193115234,
                                   :y2 93.82485961914062,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 6},
               :content {:text "In Cairo programs, you write what results are acceptable, not how to come up with results."},
               :properties {:color "green"}}
              {:id #uuid "642afbd2-4a8b-4869-bbed-5168caf94948",
               :page 9,
               :position {:bounding {:x1 117.89726257324219,
                                     :y1 103.23202514648438,
                                     :x2 519.7250823974609,
                                     :y2 137.40988159179688,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 117.89726257324219,
                                   :y1 103.23202514648438,
                                   :x2 519.7250823974609,
                                   :y2 137.40988159179688,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 9},
               :content {:text "Overview of the Stark process"},
               :properties {:color "red"}}
              {:id #uuid "642afc60-98db-480d-9df7-c7d6ee768a12",
               :page 10,
               :position {:bounding {:x1 117.60972595214844,
                                     :y1 67.7601318359375,
                                     :x2 293.7896270751953,
                                     :y2 96.67987060546875,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 117.60972595214844,
                                   :y1 67.7601318359375,
                                   :x2 293.7896270751953,
                                   :y2 96.67987060546875,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 10},
               :content {:text "Arithmetisation"},
               :properties {:color "blue"}}
              {:id #uuid "642aff26-0c54-484f-9252-361826ac907a",
               :page 16,
               :position {:bounding {:x1 117.89726257324219,
                                     :y1 103.23199462890625,
                                     :x2 161.3204803466797,
                                     :y2 137.409912109375,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 117.89726257324219,
                                   :y1 103.23199462890625,
                                   :x2 161.3204803466797,
                                   :y2 137.409912109375,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 16},
               :content {:text "FRI"},
               :properties {:color "green"}}],
 :extra {:page 9}}
