{:highlights [{:id #uuid "64134bc2-9b08-4c02-80e1-4ee8be62842c",
               :page 3,
               :position {:bounding {:x1 95.25,
                                     :y1 464.21875,
                                     :x2 297.564453125,
                                     :y2 487.21875,
                                     :width 800.0000000000001,
                                     :height 1130.778561972473},
                          :rects ({:x1 95.25,
                                   :y1 464.21875,
                                   :x2 297.564453125,
                                   :y2 487.21875,
                                   :width 800.0000000000001,
                                   :height 1130.778561972473}),
                          :page 3},
               :content {:text "Starknet Components"},
               :properties {:color "yellow"}}
              {:id #uuid "641354b8-bcc3-42bb-8946-520c97786410",
               :page 12,
               :position {:bounding {:x1 0,
                                     :y1 126,
                                     :x2 706.484375,
                                     :y2 358.09375,
                                     :width 800.0000000000001,
                                     :height 1130.778561972473},
                          :rects ({:x1 0,
                                   :y1 126,
                                   :x2 0,
                                   :y2 146,
                                   :width 800.0000000000001,
                                   :height 1130.778561972473}
                                  {:x1 94.921875,
                                   :y1 315.890625,
                                   :x2 706.484375,
                                   :y2 333.890625,
                                   :width 800.0000000000001,
                                   :height 1130.778561972473}
                                  {:x1 94.921875,
                                   :y1 340.09375,
                                   :x2 148.32818603515625,
                                   :y2 358.09375,
                                   :width 800.0000000000001,
                                   :height 1130.778561972473}),
                          :page 12},
               :content {:text "\"In Cairo programs, you write what results are acceptable, not how to come up with results."},
               :properties {:color "red"}}],
 :extra {:page 3}}
