{:highlights [{:id #uuid "6425b851-d3a7-44a3-8e87-d5df5aee2150",
               :page 12,
               :position {:bounding {:x1 117.58917236328125,
                                     :y1 48.535064697265625,
                                     :x2 367.5560607910156,
                                     :y2 73.51119995117188,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 117.58917236328125,
                                   :y1 48.535064697265625,
                                   :x2 367.5560607910156,
                                   :y2 73.51119995117188,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 12},
               :content {:text "Schwartz-Zippel Lemma"},
               :properties {:color "red"}}
              {:id #uuid "6425b85d-e988-485f-b6cb-b4d4d12f6623",
               :page 12,
               :position {:bounding {:x1 117.58917236328125,
                                     :y1 827.2732696533203,
                                     :x2 351.1570129394531,
                                     :y2 852.2494049072266,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 117.58917236328125,
                                   :y1 827.2732696533203,
                                   :x2 351.1570129394531,
                                   :y2 852.2494049072266,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 12},
               :content {:text "Lagrange Interpolation"},
               :properties {:color "green"}}
              {:id #uuid "6425b8a8-c78d-486f-ba59-d81961754ed2",
               :page 14,
               :position {:bounding {:x1 117.60971069335938,
                                     :y1 121.51224136352539,
                                     :x2 411.0377502441406,
                                     :y2 150.4319953918457,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 117.60971069335938,
                                   :y1 121.51224136352539,
                                   :x2 411.0377502441406,
                                   :y2 150.4319953918457,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 14},
               :content {:text "Polynomial Commitments"},
               :properties {:color "blue"}}
              {:id #uuid "64288088-44f5-4a37-9132-a8d07122b790",
               :page 15,
               :position {:bounding {:x1 117.6097412109375,
                                     :y1 121.51220703125,
                                     :x2 398.9610900878906,
                                     :y2 150.43194580078125,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 117.6097412109375,
                                   :y1 121.51220703125,
                                   :x2 398.9610900878906,
                                   :y2 150.43194580078125,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 15},
               :content {:text "Idealised proving system"},
               :properties {:color "purple"}}
              {:id #uuid "64289687-c655-4dfd-af3e-b83f3500fbfb",
               :page 15,
               :position {:bounding {:x1 117.65081787109375,
                                     :y1 971.4817810058594,
                                     :x2 698.8597106933594,
                                     :y2 993.828857421875,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 117.65081787109375,
                                   :y1 971.4817810058594,
                                   :x2 698.8597106933594,
                                   :y2 993.828857421875,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 15},
               :content {:text "What are the properties of polynomials that are important here ?"},
               :properties {:color "blue"}}
              {:id #uuid "64289c81-e3b8-4d8c-962a-8b2b2718f784",
               :page 17,
               :position {:bounding {:x1 117.58920288085938,
                                     :y1 98.5284423828125,
                                     :x2 316.5898742675781,
                                     :y2 123.504638671875,
                                     :width 991.5999333333333,
                                     :height 1403.1999666666666},
                          :rects ({:x1 117.58920288085938,
                                   :y1 98.5284423828125,
                                   :x2 316.5898742675781,
                                   :y2 123.504638671875,
                                   :width 991.5999333333333,
                                   :height 1403.1999666666666}),
                          :page 17},
               :content {:text "Use of randomness"},
               :properties {:color "green"}}
              {:id #uuid "6428a6d4-b5d5-4cda-bc98-455184ac7fe6",
               :page 18,
               :position {:bounding {:x1 150.90438842773438,
                                     :y1 132.8706398010254,
                                     :x2 446.6024475097656,
                                     :y2 174.93572998046875,
                                     :width 1269.2479146666667,
                                     :height 1796.0959573333332},
                          :rects ({:x1 150.90438842773438,
                                   :y1 132.8706398010254,
                                   :x2 446.6024475097656,
                                   :y2 174.93572998046875,
                                   :width 1269.2479146666667,
                                   :height 1796.0959573333332}),
                          :page 18},
               :content {:text "ZKSnark Process"},
               :properties {:color "red"}}
              {:id #uuid "6428a799-f7f9-41dd-a070-5426d5ab0357",
               :page 19,
               :position {:bounding {:x1 150.51416015625,
                                     :y1 86.86196899414062,
                                     :x2 387.0522766113281,
                                     :y2 118.41079711914062,
                                     :width 1269.2479146666667,
                                     :height 1796.0959573333332},
                          :rects ({:x1 150.51416015625,
                                   :y1 86.86196899414062,
                                   :x2 387.0522766113281,
                                   :y2 118.41079711914062,
                                   :width 1269.2479146666667,
                                   :height 1796.0959573333332}),
                          :page 19},
               :content {:text "Process in PLONK"},
               :properties {:color "green"}}
              {:id #uuid "6428a958-dcfe-4cf2-a534-01a4c28d73fc",
               :page 20,
               :position {:bounding {:x1 150.51416015625,
                                     :y1 243.66122436523438,
                                     :x2 351.6060791015625,
                                     :y2 275.2100372314453,
                                     :width 1269.2479146666667,
                                     :height 1796.0959573333332},
                          :rects ({:x1 150.51416015625,
                                   :y1 243.66122436523438,
                                   :x2 351.6060791015625,
                                   :y2 275.2100372314453,
                                   :width 1269.2479146666667,
                                   :height 1796.0959573333332}),
                          :page 20},
               :content {:text "Trusted Setups"},
               :properties {:color "blue"}}
              {:id #uuid "6428abda-88a1-4516-8854-0317fee2c9e0",
               :page 20,
               :position {:bounding {:x1 150.5963134765625,
                                     :y1 1130.5403442382812,
                                     :x2 1105.4098815917969,
                                     :y2 1159.4601440429688,
                                     :width 1269.2479146666667,
                                     :height 1796.0959573333332},
                          :rects ({:x1 150.5963134765625,
                                   :y1 1130.5403442382812,
                                   :x2 1105.4098815917969,
                                   :y2 1159.4601440429688,
                                   :width 1269.2479146666667,
                                   :height 1796.0959573333332}),
                          :page 20},
               :content {:text "They have recently introduced Halo2 which eliminates the need for a trusted setup"},
               :properties {:color "red"}}
              {:id #uuid "6428ac30-3836-4ad9-97d4-ca869e31c359",
               :page 20,
               :position {:bounding {:x1 0,
                                     :y1 445.380615234375,
                                     :x2 1126.1770935058594,
                                     :y2 1684.267333984375,
                                     :width 1269.2479146666667,
                                     :height 1796.0959573333332},
                          :rects ({:x1 0,
                                   :y1 445.380615234375,
                                   :x2 0,
                                   :y2 465.0986022949219,
                                   :width 1269.2479146666667,
                                   :height 1796.0959573333332}
                                  {:x1 0,
                                   :y1 461.3809509277344,
                                   :x2 0,
                                   :y2 481.0989685058594,
                                   :width 1269.2479146666667,
                                   :height 1796.0959573333332}
                                  {:x1 530.9485168457031,
                                   :y1 1578.550048828125,
                                   :x2 1111.6665954589844,
                                   :y2 1607.4697875976562,
                                   :width 1269.2479146666667,
                                   :height 1796.0959573333332}
                                  {:x1 150.5963134765625,
                                   :y1 1616.9591064453125,
                                   :x2 1126.1770935058594,
                                   :y2 1645.8788452148438,
                                   :width 1269.2479146666667,
                                   :height 1796.0959573333332}
                                  {:x1 150.5963134765625,
                                   :y1 1655.3475952148438,
                                   :x2 598.2461853027344,
                                   :y2 1684.267333984375,
                                   :width 1269.2479146666667,
                                   :height 1796.0959573333332}),
                          :page 20},
               :content {:text "repeatedly solving over cycles of elliptic curves so that computational proofs can be used to reason about themselves efficiently, which eliminates the need for a trusted setup"},
               :properties {:color "green"}}
              {:id #uuid "6428ac6f-9d34-4b86-8c16-2ca0e6a151fe",
               :page 21,
               :position {:bounding {:x1 150.51416015625,
                                     :y1 62.851165771484375,
                                     :x2 636.6956481933594,
                                     :y2 94.39999389648438,
                                     :width 1269.2479146666667,
                                     :height 1796.0959573333332},
                          :rects ({:x1 150.51416015625,
                                   :y1 62.851165771484375,
                                   :x2 636.6956481933594,
                                   :y2 94.39999389648438,
                                   :width 1269.2479146666667,
                                   :height 1796.0959573333332}),
                          :page 21},
               :content {:text "Transforming our problem into a QAP"},
               :properties {:color "blue"}}
              {:id #uuid "6428acdd-bea9-4eb2-85d9-676dd546e905",
               :page 21,
               :position {:bounding {:x1 103,
                                     :y1 386.78515625,
                                     :x2 413,
                                     :y2 405.78515625,
                                     :width 1269.2479146666667,
                                     :height 1796.0959573333332},
                          :rects (),
                          :page 21},
               :content {:text "[:span]", :image 1680387291364},
               :properties {:color "green"}}
              {:id #uuid "6428af07-b41a-45d9-89d2-b8cf78bd71f1",
               :page 21,
               :position {:bounding {:x1 150.51416015625,
                                     :y1 1453.2584838867188,
                                     :x2 501.7357482910156,
                                     :y2 1484.8073120117188,
                                     :width 1269.2479146666667,
                                     :height 1796.0959573333332},
                          :rects ({:x1 150.51416015625,
                                   :y1 1453.2584838867188,
                                   :x2 501.7357482910156,
                                   :y2 1484.8073120117188,
                                   :width 1269.2479146666667,
                                   :height 1796.0959573333332}),
                          :page 21},
               :content {:text "Rank 1 Constraint Systems"},
               :properties {:color "green"}}
              {:id #uuid "6428c03c-ba26-40a9-aa1c-3794b91fcb53",
               :page 24,
               :position {:bounding {:x1 150.55523681640625,
                                     :y1 205.86834716796875,
                                     :x2 420.8296813964844,
                                     :y2 242.67529296875,
                                     :width 1269.2479146666667,
                                     :height 1796.0959573333332},
                          :rects ({:x1 150.55523681640625,
                                   :y1 205.86834716796875,
                                   :x2 420.8296813964844,
                                   :y2 242.67529296875,
                                   :width 1269.2479146666667,
                                   :height 1796.0959573333332}),
                          :page 24},
               :content {:text "From R1CS to QAP"},
               :properties {:color "red"}}
              {:id #uuid "64298d21-315c-4812-8920-c888d99dbfd9",
               :page 24,
               :position {:bounding {:x1 150.55523681640625,
                                     :y1 882.668571472168,
                                     :x2 633.6878967285156,
                                     :y2 919.4755249023438,
                                     :width 1269.2479146666667,
                                     :height 1796.0959573333332},
                          :rects ({:x1 150.55523681640625,
                                   :y1 882.668571472168,
                                   :x2 633.6878967285156,
                                   :y2 919.4755249023438,
                                   :width 1269.2479146666667,
                                   :height 1796.0959573333332}),
                          :page 24},
               :content {:text "How having polynomials helps us"},
               :properties {:color "blue"}}],
 :extra {:page 25}}
