{:highlights [{:id #uuid "642e967f-a685-469c-a0da-5554bae2cf16",
               :page 27,
               :position {:bounding {:x1 118.06159019470215,
                                     :y1 103.23199462890625,
                                     :x2 194.66739463806152,
                                     :y2 137.409912109375,
                                     :width 991.5999333333333,
                                     :height 1401.5999333333332},
                          :rects ({:x1 118.06159019470215,
                                   :y1 103.23199462890625,
                                   :x2 194.66739463806152,
                                   :y2 137.409912109375,
                                   :width 991.5999333333333,
                                   :height 1401.5999333333332}),
                          :page 27},
               :content {:text "Scroll"},
               :properties {:color "green"}}
              {:id #uuid "642eb1ab-28d6-4185-ae17-0ae34e0534c1",
               :page 1,
               :position {:bounding {:x1 86.88248252868652,
                                     :y1 143.22259521484375,
                                     :x2 469.74571800231934,
                                     :y2 177.40048217773438,
                                     :width 991.5999333333333,
                                     :height 1401.5999333333332},
                          :rects ({:x1 86.88248252868652,
                                   :y1 143.22259521484375,
                                   :x2 469.74571800231934,
                                   :y2 177.40048217773438,
                                   :width 991.5999333333333,
                                   :height 1401.5999333333332}),
                          :page 1},
               :content {:text "Lesson 11 - zkEVM Solutions"},
               :properties {:color "green"}}],
 :extra {:page 1}}
